@model IEnumerable<FrontEnd.Models.TicketViewModel>


<body>
    <section id="page-content">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <h4>Lista de Tickets</h4>
                    <div class="line"></div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Número de Ticket</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Fecha de Creación</th>
                                <th>Estado</th>
                                <!-- Agrega más encabezados si es necesario -->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model)
                            {
                                <tr onclick="location.href='@Url.Action("Details", "Ticket", new { id = ticket.Id })'" style="cursor:pointer;">
                                    <td>@ticket.Id</td>
                                    <td>@ticket.NumeroTicket</td>
                                    <td>@ticket.Nombre</td>
                                    <td>@ticket.Descripcion</td>
                                    <td>@ticket.FechaDeCreacion.ToString("dd/MM/yyyy")</td>
                                    <td>@ticket.Estado</td>
                                    <!-- Agrega más celdas si es necesario -->
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

</body>

