@model IEnumerable<BackEnd.Models.TicketModel>

@{
    ViewData["Title"] = "Listado de Tickets";
}

<h2>@ViewData["Title"]]</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Tickets</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-9">
                <h4>Lista de Tickets</h4>
                <div class="line"></div>
                <h4>Filas Hoverables</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Número de Ticket</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <!-- Agrega más encabezados según sea necesario -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in Model)
                        {
                            <tr>
                                <th scope="row">@ticket.Id</th>
                                <td>@ticket.NumeroTicket</td>
                                <td>@ticket.Nombre</td>
                                <td>@ticket.Descripcion</td>
                                <td>@ticket.Estado</td>
                                <!-- Agrega más celdas según sea necesario -->
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="line"></div>
            </div>
        </div>
    </div>
</section>

<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<!--Plugins-->
<script src="~/js/jquery.js"></script>
<script src="~/js/plugins.js"></script>
<!--Template functions-->
<script src="~/js/functions.js"></script>
</body>
</html>


@section Scripts {
    <!-- Aquí puedes agregar scripts de JavaScript si es necesario para la interactividad de la tabla -->
}
